path, line {
stroke-linejoin: bevel;
stroke: black;
stroke-width: 0;
fill: black
}

.sp {
stroke-linejoin: bevel;
stroke: black;
stroke-width: 4;
fill: none
}

text {
_fill: #EC2227;
fill: #AA0000;
}

.texNormal, .texNormalCentered {
_font-family: 'TimesNewRomanPSMT';
font-family: 'TimesNewRoman';
font-size: 16;
}

.texNormalCentered {
text-anchor: middle;
}

.texBig {
_font-family: 'TimesNewRomanPS-BoldMT';
font-family: 'TimesNewRoman';
_font-weight: bold;
font-size: 18
}

